body {
    margin: 0;
    background: #dbd3f0;
    color: #2d163e;
    padding: 25px;
    font-family: verdana;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  .navbar {
    overflow: hidden;
    background-color: #c3b5e6;
  }

  .navbar a {
    float: left;
    color: #2d163e;
    text-align: center;
    padding: 14px;
    font-size: 17px;
    text-decoration: none;
  }

  .navbar a:hover {
    text-decoration: underline;
  }