body {
    margin: 0;
    background: #E7DDF4;
    color: #2d163e;
    padding: 25px;
    font-family: Georgia;
  }

  .content {
    background: #e7e1f5;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    max-width: width - 150px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  /* navigation bar with various pages */
  .navbar {
    overflow: hidden;
    background-color: #c3b5e6;
    border-radius: 10px;
  }

  /* navbar element */
  .navbar a {
    position: relative;
    float: left;
    color: #2d163e;
    text-align: center;
    padding: 14px;
    font-size: 17px;
    text-decoration: none;
  }

  /* pseudo element to add fade in of hover line */
  .navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 8px;
    /* center hover line */
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
    background-color: #2d163e;
  }

  .navbar a.active::after {
    /* make permanent underline */
    width: 80%;
  }

  .navbar a:hover::after {
    /* animate hover line upon hover */
    width: 80%;
  }

  .nav-logo {
    height: 30px;
    width: auto;
    float: right;
    text-decoration: none;
    vertical-align: middle;
  }
